GOOGLE_API_KEY=AIzaSyAXADDraE-taS8jqDw1NfKC_3CWdmqqfTA
LIVEKIT_URL=wss://javis-1-0-f3upc9dl.livekit.cloud
LIVEKIT_API_KEY=APIYDwgPZ7Zz22f
LIVEKIT_API_SECRET=nFocCyueSeP16B8cC4Wqr03aOLTy9f5pQwmWeRmJzftE
